@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
    font-size: 10px;
    font-family: 'Courier Prime', monospace;
}

body {
    margin: 0;
}


.footer {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border: 3px solid blue;
}


/*ДЗ №1*/
.dz_1 {
    width: 50vw;
    margin: 0 auto;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border: 3px solid black;
}

.main {
    display: flex;
    justify-content: space-evenly;
}

.main div {
    width: 17vw;
    height: 30vh;
}

span {
    font-size: 1.5rem;
    font-weight: bold;
}

/*стилі Порожній прямокутник*/
.first {
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid indigo;
}

.first div:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 20%;
    text-align: center;
}

.first div:last-child {
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 40%;
}

/*стилі Заповнений прямокутник*/
.second {
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid indigo;
}

.second div:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 20%;
    text-align: center;
}

.second div:last-child {
    display: flex;
    justify-content: center;
    font-weight: bold;

    width: 100%;
    height: 40%;
}

/*стилі Рівносторонній трикутник*/
.third {
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid indigo;
}

.third div:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 20%;
    text-align: center;
}

.third div:last-child {
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 40%;
}


/*стилі Прямокутний трикутник*/
.fourth {
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid indigo;
}

.fourth div:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 20%;
    text-align: center;
}

.fourth div:last-child {
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 40%;
}

/*стилі Ромб*/
.fifth {
    background-color: aquamarine;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    border: 1px solid indigo;
}

.fifth div:first-child {
    font-size: 1.5rem;
    font-weight: bold;
    width: 100%;
    height: 20%;
    text-align: center;
}

.fifth div:last-child {
    display: flex;
    justify-content: center;
    font-weight: bold;
    width: 100%;
    height: 40%;
}


/*ДЗ №2*/
.dz_2 {
    width: 50vw;
    margin: 0 auto;
    margin-top: 20vh;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border: 3px solid red;
}

.arr{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    width: 80%;
    border: 3px solid purple;
}
.arr div{
    color: aqua;
    font-style: italic;
}
.arr1{
    border: 3px solid gold;
}
.arr2{
    border: 3px solid gold;
}
.arr3{
    border: 3px solid gold;
}
.arr4{
    border: 3px solid gold;
}
.arr5{
    border: 3px solid gold;
}